.secao {
    display: grid;
    align-items: center;
    row-gap: 1rem;
}
.secao-horizontal, .secao-vertical {
    grid-template-rows: 3rem auto;
}

.secao-horizontal .secao__cartoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(80%/2, max(350px, 80%/3)),1fr));
    gap: 1.25rem;
}